PORT=3000
NODE_ENVIRONMENT='development'
dbURI="postgresql://postgres:password123@db:5432/taskflow"
JWT_SECRET=""
BYPASS_AUTH="false"
TEST_USER_EMAIL="xyz@gmail.com"
FRONTEND_URL="http://localhost:3000"
BCRYPT_SALT_ROUNDS=12
DB_USER=myuser
DB_PASSWORD=mypassword123
DB_NAME=taskflow_db
